@font-face {
    font-family: 'Baskerville';
    src : url('../fonts/BASKERVILLECYRLTSTD-UPRIGHT.woff') format('woff')
}

@font-face {
    font-family: 'Gilroy';
    src : url('../fonts/GILROY-EXTRABOLD.woff') format('woff')
}