@import 'font';
@import '_variables';


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logo {
    position: absolute;
    left: 100px;
    top: 100px;
  }
  


.home{

    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    opacity: 1;

    transition: opacity 1s;
    will-change: opacity;


    // background: url('../assets/bg.png');
    background-size: contain;
    font-family: $title;


    &__content {
      display: flex;
      width: 65%;
      height: 100%;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;

      .title{
      font-size: 64px;
      color: $primary;

        span{
          display: block;
          font-size: 72px;
          text-transform: uppercase;;
        }
      }
      .launch {
        width: 150px;
        height: 150px;
        padding: 10px;
        color: $secondary;
        background: white;
        border-radius: 50%;
        border: #cccccc 1px solid;
        outline: none;
        position: relative;
        z-index: 1;

        cursor: pointer;

        &::before{
          content: '';
          width: 150px;
          height: 150px;
          background: $secondary;
          position: absolute;
          left: -1px;
          top: -1px;
          border-radius: 50%;
          // border: 1px $secondary solid;
          z-index: -4;
          transform: scale(0);
          transition: transform 0.2s;
          will-change: transform;

         
        }

        &:hover{
          color: white;
        }
        &:hover::before{
          transform: scale(1);
        } 
        
      }
    }
  }

  .controllers {
    position: absolute;
    width:  70%;
    text-align: center;
    left: calc(50% - 70% / 2);
    bottom: 10%;
    transform : translateY(200px);

    &__controller {
      position: relative;
      width: 100px;
      height: 40px;
      background: transparent;
      color: $secondary;
      border: $secondary 1px solid;
      outline: none;
      cursor: pointer;
      z-index: 1;
      overflow: hidden;

    }

    &__controller::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: -100%;
      top: 0;
      background: white;
      z-index: -1;
      transform: translateX(0%);

      transition: transform 0.3s;
      will-change: transform;
    }

    &__controller:hover::before{
      transform: translateX(100%);
    }
  }


  // .welcome {
  //   width: 80%;
  //   height: 100vh;
  //   left: calc(50% - 80% / 2);
  //   position: absolute;
  //   display: none;

  //   // display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   opacity: 0;
  //   transition: opacity 2s;
  //   will-change: opacity;


  //   &__content {
  //     font-family: 'Baskerville';
  //     font-size: 26px;
  //     text-align: center;
  //     color: $primary;

  //     &__text {
  //       transition: opacity 1s;
  //       will-change: opacity;
  //     }

  //     span {
  //       display: block;
  //     }
  //   }
  // }

  .hide {
    opacity: 0;
  }

  .show {
    opacity: 1;
  }

  .rocketLaunched::before {
    transform: translateX(100%);

  }